asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1617745359837/work
certifi==2020.12.5
dj-database-url==0.5.0
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1609752033316/work
gunicorn==20.1.0
psycopg2-binary==2.8.6
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1602142927465/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
whitenoise==5.2.0
wincertstore==0.2
