{% extends 'smoking/location_base.html' %}
{% block title %}- 위치/유형 페이지{% endblock %}

{% block content %}

<style>
     .dropup-menu {
        max-height: 400px;
        overflow: hidden;
        overflow-y: auto;
    }

    div#map {margin:0px auto}

     .box {
        position : absolute;
        top : 180px;
        left: 15px;
        width: 97%;

        text-align: center;
        border: 3px solid #57B59A;
        border-radius: 10px;
        padding: 2%;
        background: #FDFFFF;
    }
    .dropup>a {
    background-color: lightgray;
}

.dropup>a:hover {
    background-color: #57B59A;
}
    #map{position:relative;overflow:hidden;}
.dropup, .dropup *{margin:0;color:#000;border-radius: 0;}
.dropup {position:absolute;top:200px;left:28px; z-index:10;text-align:center;background-color:#FFFFFF;}

.typebox {width: 144px; position:absolute; top:10px; right:10px; z-index:10; text-align:center; background-color:#fff; padding : 7px;
          border-radius:10px;}
.smalltype {margin-bottom:3px;}

    @media screen and (max-width: 936px) {
        .container {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .box2 > .table {
            scroll-behavior: auto;
            font-size: x-small;
            white-space: nowrap;
        }

        .dropup {position:absolute; top:325px;left:20px; z-index:10;text-align:center;background-color:#FFFFFF;}

        .box {
        position : absolute;
        top : 220px;
        left: 15px;
        width: 97%;

        text-align: center;
        border: 3px solid #57B59A;
        border-radius: 10px;
        padding: 2%;
        background: #FDFFFF;
    }

    }
</style>

<div class="container" style="margin-top: 10px">

   <div class = "dropup">
        <button style="color:white;" class = "btn btn-secondary dropdown-toggle" data-toggle="dropdown">구 선택</button>
            <a class="dropdown-item" href="{% url 'smoking:gangnam_map' %}" style="height:25px;font-size:13px;">강남구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:gangdong_map' %}" style="height:25px;font-size:13px;">강동구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:gangbuk_map' %}" style="height:25px;font-size:13px;">강북구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:gangseo_map' %}" style="height:25px;font-size:13px;">강서구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:gwanak_map' %}" style="height:25px;font-size:13px">관악구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:gwangjin_map' %}" style="height:25px;font-size:13px">광진구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:guro_map' %}" style="height:25px;font-size:13px">구로구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:geumcheon_map' %}" style="height:25px;font-size:13px">금천구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:nowon_map' %}" style="height:25px;font-size:13px">노원구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:dobong_map' %}" style="height:25px;font-size:13px">도봉구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:dongdaemun_map' %}" style="height:25px;font-size:13px">동대문구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:dongjak_map' %}" style="height:25px;font-size:13px">동작구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:mapo_map' %}" style="height:25px;font-size:13px">마포구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:seodaemun_map' %}" style="height:25px;font-size:13px">서대문구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:seocho_map' %}" style="height:25px;font-size:13px">서초구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:seongdong_map' %}" style="height:25px;font-size:13px">성동구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:seongbuk_map' %}" style="height:25px;font-size:13px">성북구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:songpa_map' %}" style="height:25px;font-size:13px">송파구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:yangcheon_map' %}" style="height:25px;font-size:13px">양천구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:yeongdeungpo_map' %}" style="height:25px;font-size:13px">영등포구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:yongsan_map' %}" style="height:25px;font-size:13px">용산구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:eunpyeong_map' %}" style="height:25px;font-size:13px">은평구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:jongro_map' %}" style="height:25px;font-size:13px">종로구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:jung_map' %}" style="height:25px;font-size:13px">중구</a>
                <div class="dropdown-divider"></div> <!-- 구분선 -->
            <a class="dropdown-item" href="{% url 'smoking:jungrang_map' %}" style="height:25px;font-size:13px">중랑구</a>
       </div>

</div>

<div class="box" align="center">
    <br/>
    <h4><strong>은평구 흡연구역 상세 지도</strong></h4>
    <sub><strong style="color:blue">정보공개포털</strong>과 <strong style="color:blue">공공데이터포털</strong>의 데이터를 기반으로 만들어졌습니다.</sub><br/><br/>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=541b6d15b257b828a3da0c50a02d541e"></script>

<div id="map" style="width:100%;height:600px;">
    <div class="typebox">
            <div class="smalltype"><img style="width:32px; height:32px;" src="https://user-images.githubusercontent.com/73709089/140315617-3954363c-15c7-4054-88ae-3f27022fb89f.png">완전폐쇄형 </div>
            <div class="smalltype"><img style="width:32px; height:32px;" src="https://user-images.githubusercontent.com/73709089/140315629-ae6791aa-13fc-4bcb-83a6-909d849abebf.png">완전개방형 </div>
            <div class="smalltype"><img style="width:32px; height:32px;" src="https://user-images.githubusercontent.com/73709089/140315641-718e9afd-e90b-48d4-9502-96404a2b76b8.png">부분개방형 </div>
            <div class="smalltype"><img style="width:32px; height:32px;" src="https://user-images.githubusercontent.com/73709089/140315652-89c32358-efcb-4104-8b0d-0380732209b8.png">&nbsp&nbsp&nbsp&nbsp&nbsp기타&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </div>
            <div class="smalltype"><img style="width:32px; height:32px;" src="https://user-images.githubusercontent.com/73293902/141927239-f103e600-4403-4ed4-98c1-e59a7bc4d18e.png">&nbsp&nbsp&nbsp&nbsp&nbsp제보&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </div>
    </div>
</div>
<br/><br/>

<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.61905727991784, 126.92109066447372), // 지도의 중심좌표
        level: 7 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

var littleopenpositions = [
    {
        title: '한국행정연구원', // 1
        content: '<div style="padding:15px;width:350px;text-align: center;">한국행정연구원<br>부분개방형<br><a href="http://kko.to/Qkgdnyff0">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.61014596141193, 126.9349739611476), // 1 좌표
        category : '부분개방형'
    },
    {
        title: '롯데몰 은평', // 2
        content: '<div style="padding:15px;width:350px;text-align: center;">롯데몰 은평<br>부분개방형<br><a href="http://kko.to/-nd1cyf4o">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.63774143453354, 126.91772295159417), // 2 좌표
        category : '부분개방형'
    },
    {
        title: '삼성생명보험(주)불광동사옥', // 3
        content: '<div style="padding:15px;width:350px;text-align: center;">삼성생명보험(주)불광동사옥<br>부분개방형<br><a href="http://kko.to/uIRZZyf40">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.60945181102507, 126.93034526250906), // 3 좌표
        category : '부분개방형'
    },
    {
        title: 'KT은평지점', // 4
        content: '<div style="padding:15px;width:350px;text-align: center;">KT은평지점<br>부분개방형<br><a href="http://kko.to/WmP-Sm44H">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.613433870031805, 126.92612823353217), // 4 좌표
        category : '부분개방형'
    },
    {
        title: '삼성전자디지털센터 불광', // 5
        content: '<div style="padding:15px;width:350px;text-align: center;">삼성전자디지털센터 불광<br>부분개방형<br><a href="http://kko.to/GIJgSyf4H">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.61309720978643, 126.92808797568844), // 5 좌표
        category : '부분개방형'
    },
    {
        title: '붓다마을', // 6
        content: '<div style="padding:15px;width:350px;text-align: center;">붓다마을<br>부분개방형<br><a href="http://kko.to/BNqESmf4T">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.63922695708967, 126.93802755947068), // 6 좌표
        category : '부분개방형'
    },
    {
        title: '서부장애인종합복지관', // 7
        content: '<div style="padding:15px;width:350px;text-align: center;">서부장애인종합복지관<br>부분개방형<br><a href="http://kko.to/RcpOZmffo">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.605953155060966, 126.9066906408688), // 7 좌표
        category : '부분개방형'
    },
    {
        title: '은평재활원', // 8
        content: '<div style="padding:15px;width:350px;text-align: center;">은평재활원<br>부분개방형<br><a href="http://kko.to/4wsOZy44B">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.60540874529645, 126.9075661692036), // 8 좌표
        category : '부분개방형'
    },
    {
        title: '브릭스관광호텔', // 9
        content: '<div style="padding:15px;width:350px;text-align: center;">브릭스관광호텔<br>부분개방형<br><a href="http://kko.to/ZSXsSy44o">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.599931582087216, 126.9211646575853), // 9 좌표
        category : '부분개방형'
    },
    {
        title: '은평병원', // 10
        content: '<div style="padding:15px;width:350px;text-align: center;">은평병원<br>부분개방형<br><a href="http://kko.to/18S2Zm44o">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.59416917355528, 126.9237241173191), // 10 좌표
        category : '부분개방형'
    },
    {
        title: '서북병원', // 11
        content: '<div style="padding:15px;width:350px;text-align: center;">서북병원<br>부분개방형<br><a href="http://kko.to/KNR2Zm440">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.604039179279454, 126.90465741868161), // 11 좌표
        category : '부분개방형'
    },
    {
        title: '은평경찰서', // 12
        content: '<div style="padding:15px;width:350px;text-align: center;">은평경찰서<br>부분개방형<br><a href="http://kko.to/9WV5SmffH">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.628529258713435, 126.92872449313982), // 12 좌표
        category : '부분개방형'
    },
    {
        title: '은평구청 6층', // 13
        content: '<div style="padding:15px;width:350px;text-align: center;">은평구청 6층<br>부분개방형<br><a href="http://kko.to/eiV7Sm44B">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.60283315870049, 126.92886509230472), // 13 좌표
        category : '부분개방형'
    },
    {
        title: '은평구청 주차장', // 14
        content: '<div style="padding:15px;width:350px;text-align: center;">은평구청 주차장<br>부분개방형<br><a href="http://kko.to/ftEqZy4fB">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.602463863683816, 126.92904946628684), // 14 좌표
        category : '부분개방형'
    },
    {
        title: '은평소방서', // 15
        content: '<div style="padding:15px;width:350px;text-align: center;">은평소방서<br>부분개방형<br><a href="http://kko.to/6HRuZm4fp">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.62894244655232, 126.91973779111979), // 15 좌표
        category : '부분개방형'
    },
    {
        title: '증산정보도서관', // 16
        content: '<div style="padding:15px;width:350px;text-align: center;">증산정보도서관<br>부분개방형<br><a href="http://kko.to/l8NXSyffp">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.58282775371021, 126.90770164926226), // 16 좌표
        category : '부분개방형'
    },
    {
        title: 'NC백화점 불광점', // 17
        content: '<div style="padding:15px;width:350px;text-align: center;">NC백화점 불광점<br>부분개방형<br><a href="http://kko.to/CWPKSmf4T">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.609775290470495, 126.92887546932351), // 17 좌표
        category : '부분개방형'
    },
    {
        title: '송추가마골', // 19
        content: '<div style="padding:15px;width:350px;text-align: center;">송추가마골<br>부분개방형<br><a href="http://kko.to/iBoeZmff0">길찾기</a></div>',
        latlng: new kakao.maps.LatLng(37.65426770404366, 126.94011720600155), // 19 좌표
        category : '부분개방형'
    },
];

// 부분개방형 마커 이미지의 이미지 주소입니다
var loimageSrc = "https://user-images.githubusercontent.com/73709089/140315641-718e9afd-e90b-48d4-9502-96404a2b76b8.png";

for (var i = 0; i < littleopenpositions.length; i ++) {

    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(36, 36);

    // 마커 이미지를 생성합니다
    var lomarkerImage = new kakao.maps.MarkerImage(loimageSrc, imageSize);

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: littleopenpositions[i].latlng, // 마커를 표시할 위치
        image : lomarkerImage // 마커 이미지
    });

    // 마커에 표시할 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        content: littleopenpositions[i].content, // 인포윈도우에 표시할 내용
        removable:true
    });

    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    // 이벤트 리스너로는 클로저를 만들어 등록합니다
    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
    kakao.maps.event.addListener(marker, 'click', makeOverListener(map, marker, infowindow));
}

// 인포윈도우를 표시하는 클로저를 만드는 함수입니다
function makeOverListener(map, marker, infowindow) {
    return function() {
        infowindow.open(map, marker);
    };
}

// 인포윈도우를 닫는 클로저를 만드는 함수입니다
function makeOutListener(infowindow) {
    return function() {
        infowindow.close();
    };
}
</script>
<!--    box2-->
    <br/>
<div class="box2" align="center" style="width:100%; height:350px; overflow:auto">

        <table class="table">
            <thead class="thead" style="color:#4374D9">
                <tr>
                    <th scope="col">자치구</th>
                    <th scope="col">흡연구역 유형</th>
                    <th scope="col">주소</th>
                    <th scope="col">길찾기</th>
                </tr>
            </thead>

            <tbody>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>한국행정연구원</td>
                <td><a href="http://kko.to/Qkgdnyff0" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>롯데몰 은평</td>
                <td><a href="http://kko.to/-nd1cyf4o" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>삼성생명보험(주)불광동사옥</td>
                <td><a href="http://kko.to/uIRZZyf40" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>KT은평지점</td>
                <td><a href="http://kko.to/WmP-Sm44H" style="text-decoration:none;">길찾기</a></td>
            </tr>
               <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>삼성전자디지털센터 불광</td>
                <td><a href="http://kko.to/GIJgSyf4H" style="text-decoration:none;">길찾기</a></td>
            </tr>
{#            5#}
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>붓다마을</td>
                <td><a href="http://kko.to/BNqESmf4T" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>서부장애인종합복지관</td>
                <td><a href="http://kko.to/RcpOZmffo" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>은평재활원</td>
                <td><a href="http://kko.to/4wsOZy44B" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>브릭스관광호텔</td>
                <td><a href="/" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>은평병원</td>
                <td><a href="http://kko.to/ZSXsSy44o" style="text-decoration:none;">길찾기</a></td>
            </tr>
{#            10#}
               <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>서북병원</td>
                <td><a href="http://kko.to/KNR2Zm440" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>은평경찰서</td>
                <td><a href="http://kko.to/9WV5SmffH" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>은평구청 6층</td>
                <td><a href="http://kko.to/eiV7Sm44B" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>은평구청 주차장</td>
                <td><a href="http://kko.to/ftEqZy4fB" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>은평소방서</td>
                <td><a href="http://kko.to/6HRuZm4fp" style="text-decoration:none;">길찾기</a></td>
            </tr>
{#            15#}
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>증산정보도서관</td>
                <td><a href="http://kko.to/l8NXSyffp" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>NC백화점 불광점</td>
                <td><a href="http://kko.to/CWPKSmf4T" style="text-decoration:none;">길찾기</a></td>
            </tr>
            <tr>
                <td>은평구</td>
                <td>부분개방형</td>
                <td>송추가마골</td>
                <td><a href="http://kko.to/iBoeZmff0" style="text-decoration:none;">길찾기</a></td>
            </tr>
            </tbody>
        </table>
</div>
</div>

{% endblock %}