{% extends "post/post_base.html" %}
{% block title %}- Confirm Delete{% endblock %}

{% block content %}
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/></head>
<form action="delete/" method="POST">
    {% csrf_token %}
    <div class="alert alert-danger">글을 정말로 삭제하시겠습니까?</div>
    <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash-alt"> 삭제</i></button>
<!--    <input type="submit" value="삭제" class="btn btn-outline-danger">-->
    <a class="btn btn-outline-secondary" onclick="history.back()"><i class="fas fa-times"> 취소</i></a>
</form>
{% endblock %}
