{% extends "registration/accounts_base.html" %}
{% block title %}- Logout{% endblock %}

{% block content %}
<style>
    /*색상 변경 코드 추가*/
.btn-outline-success:active,
.btn-outline-success:visited,
.btn-outline-success:active:focus,
.btn-outline-success:active:hover {
    border-color: #57B59A;
    background-color: #57B59A;
    }
</style>
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/></head>
<br/><br/><br/><br/><br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <div class="alert alert-info">로그아웃 되었습니다.</div>
        <a class="btn btn-outline-success" href="/accounts/login"><i class="fas fa-user"> 로그인</i></a>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}